{% trans_default_domain 'FOSUserBundle' %}
<div class="row col-sm-offset-1">
    <div class="col-sm-5">
        <h2>Récupération du mot de passe ?</h2>
       
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset form-horizontal' } }) }}
        {{ form_widget(form) }}
      
         <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-default"
                           value="{{ 'resetting.reset.submit'|trans }}"/>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
    <div class="col-sm-6 col-sm-offset-1">
        <h3>Pas encore isncrit ?</h3>

        <p class="lead"><span>Nous vous invitons à vous inscrire afin de passer participer au séance.</span></p>

        <p>
            <a href="{{ path ('fos_user_registration_register') }}" class="btn btn-primary btn-sm"> Inscription</a>
        </p>
    </div>

</div>