{% extends "MCBundle::main.html.twig" %}

{% block title %}
    Films - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets

    'bundles/mc/themes/global/plugins/cubeportfolio/css/cubeportfolio.css'
    'bundles/mc/themes/global/css/components.min.css'
    'bundles/mc/themes/pages/css/portfolio.min.css'
    'bundles/mc/css/card.css'
    filter='cssrewrite' %}
    {#
   
    
    '#}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block body_mc %}

    <div class="page-container page-mc">
        <div class="page-content">
            <div class="page-bar">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="{{ path('home_page') }}">Accueil</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="{{ path('film_home') }}">Films</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            {% if breadcrumb is defined %}
                                <li>
                                    <span>{{ breadcrumb }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <div class="row">

                <div class="col-sm-2">
                    {% include("MCBundle:Includes:submenu.html.twig") %}
                </div>
                <div class="col-sm-10">
                    <div class="row">

                        {#portlet light bordered#}
                        {% if titlePage is defined %}

                            <div class="col-sm-12">
                                <h3 class="page-title page-header">Films
                                    <small>{{ titlePage }}</small>
                                </h3>
                            </div>
                        {% endif %}


                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <div class="col-sm-12">
                            {% if films is defined %}
                                <div class="portfolio-content portfolio-1">
                                    <div id="js-grid-juicy-projects" class="cbp">
                                        {% for film in films %}
                                            <div class="cbp-item">
                                                <article class="card">
                                                    <header class="card__thumb">
                                                        <a href="{{ path("film_view", {"slug": film.id}) }}">
                                                            {% if film.poster is defined and film.poster %}

                                                                <img src="{{ film.poster }}"
                                                                     class=" pull-left margin-right"
                                                                     alt="{{ film.title }}">
                                                            {% else %}
                                                                <img src="../../uploads/images/400x300.png" width="240"
                                                                     height="235"
                                                                     class=" pull-left margin-right"
                                                                     alt="{{ film.title }}">
                                                            {% endif %} </a>
                                                    </header>
                                                    <div class="card__body">
                                                        {#<div class="card__category"><a#}
                                                        {#href="{{ path("film_view", {"slug": film.id}) }}">Plus#}
                                                        {#de détails</a></div>#}
                                                        <h5 class="card__title  font-yellow-casablanca">
                                                            {{ film.title |length > 26 ? film.title| capitalize|slice(0, 26) ~ '...' : film.title | capitalize }}

                                                        </h5>
                                                        <ul class="card__description list-unstyled">
                                                            <h5 class="sub_card_title  font-yellow-casablanca">
                                                                <a href="{{ path("film_view", {"slug": film.id}) }}">
                                                                    {{ film.title | capitalize }}
                                                                </a></h5>

                                                            {% if film.directors is defined and film.directors %}
                                                                <li><b>De: </b>{{ film.directors }}</li>
                                                            {% endif %}

                                                            {% if film.actors is defined and film.actors %}
                                                                <li><b>Avec: </b>{{ film.actors }}</li>
                                                            {% endif %}
                                                            {% if film.runtime is defined and film.runtime %}
                                                                <li><b>Durée: </b>
                                                                    {{ film.runtime | date("g") }}
                                                                    h{{ film.runtime | date("i") }}min
                                                                </li>
                                                            {% endif %}
                                                            {% if film.releaseDate is defined and film.releaseDate %}
                                                                <li><b>Année: </b>{{ film.releaseDate | date("Y") }}
                                                                </li>
                                                            {% endif %}
                                                            {% if film.genre is defined and film.genre %}
                                                                <li><b>Genre(s): </b>
                                                                    {% for genre in film.genre %}
                                                                        {{ genre.title }}
                                                                        {% if loop.index < film.genre |length %}/{% endif %}
                                                                    {% endfor %}
                                                                </li>
                                                            {% endif %}

                                                        </ul>
                                                    </div>
                                                    <footer class="card__footer text-right">
                                        <span class="">
                                            <a href="{{ path("film_view", {"slug": film.id}) }}"
                                               class="text-info">Suite&raquo;</a>
                                        </span>
                                                    </footer>
                                                </article>

                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div id="js-grid-juicy-projects" class="cbp">
                                        <div class="cbp-item">
                                            {% if films %}
                                                {{ knp_pagination_render(films) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>


                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        'bundles/mc/themes/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js'
        'bundles/mc/themes/pages/scripts/portfolio-1.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
