{% extends "MCBundle::main.html.twig" %}

{% block title %}
    Films - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/mc/themes/pages/css/about.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block body_mc %}

    <div class="page-container" style="margin-top: -50px;">
        <div class="page-content">
            <div class="row margin-bottom-60 about-header" style="margin-top: 50px !important;">
                <div class="col-md-12">
                    <h1>Maties<span class="font-yellow-casablanca">&Chill</span></h1>
                    <h2>Vivez une nouvelle expérience ciné avec Maties&Chill </h2>
                    <a href="{{ path('seances_home') }}" class="btn btn-danger">Commencez</a>
                </div>
            </div>


            <div class="clearfix"></div>
            <div class="row margin-bottom-60" style="padding-top:40px;">
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-camcorder font-red-sunglo theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span>Création de séances</span>
                        </div>
                        <div class="card-desc">
                                    <span>Créer des séances en quelques clics 
                                         <br>grâce à notre formulaire simplifié.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-users font-green-haze theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Proposer des séances</span>
                        </div>
                        <div class="card-desc">
                                    <span> Proposer facilement vos séances à notre <br> communauté Maties&Chill. 
 </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-screen-desktop font-purple-wisteria theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span>Rechercher des séances
 </span>
                        </div>
                        <div class="card-desc">
                            <span> Grâce à notre base de données 
                                <br>retrouver l’ensemble</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-map font-blue theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span>Participer à des séances</span>
                        </div>
                        <div class="card-desc">
                                    <span>Avec Maties&Chill trouver des séances
                                        <br>qui vous conviennent près de chez vous.</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row margin-bottom-60 about-cine">
                <div class="col-md-12 margin-top-30">
                    {#<h3 class="text-right"> Nous allons vous changer votre vison du cib</h3>#}
                    {#<h2>Vous allons vous changer votre vision d </h2>#}
                    <a href="{{ path('seances_home') }}" class="btn blue">Voir les séances</a>
                </div>
            </div>

            <div class="row margin-bottom-40 stories-header" data-auto-height="true">
                <div class="col-md-12">
                    <h1>Notre Equipes</h1>
                    <h2>Life is either a great adventure or nothing</h2>
                </div>
                <div class="row margin-bottom-20 stories-cont">


                    <div class="col-lg-4 col-md-6">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="{{ asset('assets/img/djino.jpg') }}"
                                     alt="" class="img-responsive"/></div>
                            <div class="title">
                                <span> Djino DIOMBAYE</span>
                            </div>
                            <div class="desc">
                                <span>Fervent amateur des technologies mobiles, Djino mets sans cesse en avant ses compétences au service de nos applis mobiles </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="{{ asset('assets/img/marco.jpg') }}"
                                     alt="" class="img-responsive"/></div>
                            <div class="title">
                                <span> Marc BIOFA </span>
                            </div>
                            <div class="desc">
                                <span> Marc est la partie visible de l’iceberg Maties&Chill convaincu que le front est la première vitrine d’une appli web il prône une expérience utilisateur unique
</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="{{ asset('assets/img/yann.jpg') }}"
                                     alt="" class="img-responsive"/></div>
                            <div class="title">
                                <span> Yannick SAID </span>
                            </div>
                            <div class="desc">
                                <span>Back-end c’est notre sous-marin. Développeur Back-End dans l’âme Yannick est passionné de nouvelles technologies et des Volkswagen.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END CONTENT BODY -->
            {#</div>#}
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->

        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
    {#  #}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
