{% extends "MCBundle::main.html.twig" %}

{% block title %}
    Films - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/mc/themes/pages/css/about.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block body_mc %}

    <div class="page-container" style="margin-top: -50px;">
        <div class="page-content">
            <div class="row margin-bottom-60 about-header" style="margin-top: 50px !important;">
                <div class="col-md-12">
                    <h1>Mathies Chill</h1>
                    <h2>Vivez une nouvelle expériece ciné avec Maties&Chill </h2>
                    <button type="button" class="btn btn-danger">Commencez</button>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row margin-bottom-60" style="">
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-camcorder font-red-sunglo theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Partager vos séance ciné </span>
                        </div>
                        <div class="card-desc">
                                    <span> The best way to find yourself is
                                        <br> to lose yourself in the service of others </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-users font-green-haze theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Awards Winner </span>
                        </div>
                        <div class="card-desc">
                                    <span> The best way to find yourself is
                                        <br> to lose yourself in the service of others </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-basket font-purple-wisteria theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> eCommerce Components </span>
                        </div>
                        <div class="card-desc">
                                    <span> The best way to find yourself is
                                        <br> to lose yourself in the service of others </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="portlet light">
                        <div class="card-icon">
                            <i class="icon-heart font-blue theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Adaptive Components </span>
                        </div>
                        <div class="card-desc">
                                    <span> The best way to find yourself is
                                        <br> to lose yourself in the service of others </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row margin-bottom-40 stories-header" data-auto-height="true">
                <div class="col-md-12">
                    <h1>Members Success Stories</h1>
                    <h2>Life is either a great adventure or nothing</h2>
                </div>
                <div class="row margin-bottom-20 stories-cont">
                    <div class="col-lg-3 col-md-6">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/media/users/teambg8.jpg"
                                     alt="" class="img-responsive"/></div>
                            <div class="title">
                                <span> Yannick </span>
                            </div>
                            <div class="desc">
                                <span> We are at our very best, and we are happiest, when we are fully engaged in work we enjoy on the journey toward the goal we've established for ourselves. </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/media/users/teambg8.jpg"
                                     alt="" class="img-responsive"/></div>
                            <div class="title">
                                <span> SAID </span>
                            </div>
                            <div class="desc">
                                <span> Do what you love to do and give it your very best. Whether it's business or baseball, or the theater, or any field. If you don't love what you're doing and you can't give it your best, get out of it. </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/media/users/teambg8.jpg"
                                     alt="" class="img-responsive"/></div>
                            <div class="title">
                                <span> Djino </span>
                            </div>
                            <div class="desc">
                                <span> To be nobody but yourself in a world which is doing its best, to make you everybody else means to fight the hardest battle which any human being can fight; and never stop fighting. </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="portlet light">
                            <div class="photo">
                                <img src="http://www.keenthemes.com/preview/metronic/theme/assets/pages/media/users/teambg8.jpg"
                                     alt="" class="img-responsive"/></div>
                            <div class="title">
                                <span> Marc  </span>
                            </div>
                            <div class="desc">
                                <span> You have to accept whatever comes and the only important thing is that you meet it with courage and with the best that you have to give. Never give up, never surrender. Go all out or gain nothing. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- END CONTENT BODY -->
            {#</div>#}
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->

        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
    {#  #}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
