{% extends "MCBundle::main.html.twig" %}

{% block title %}
    Films - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/mc/themes/global/plugins/cubeportfolio/css/cubeportfolio.css'
    'bundles/mc/themes/global/css/components.min.css'
    'bundles/mc/themes/pages/css/portfolio.min.css'
    'bundles/mc/css/card.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body_mc %}
    <div class="page-container page-mc">
        <div class="page-content">
            <div class="page-bar">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="{{ path('home_page') }}">Accueil</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="{{ path('seances_home') }}">Séances</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                {% if pageTitle is defined and pageTitle %}
                                    <span>{{ pageTitle }}</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <div class="row">

                <div class="col-sm-2">
                    {% include("MCBundle:Includes:submenu.html.twig") %}
                </div>
                <div class="col-sm-10">
                    <div class="row">

                        {#portlet light bordered#}
                        <div class="col-sm-12">
                            <h3 class="page-title page-header"> Séances
                                {% if pageTitle is defined and pageTitle %}
                                    <small>{{ pageTitle }}</small>
                                {% endif %}
                                <small class="pull-right">
                                    {% if results is defined and results %}
                                        {% if results.getTotalItemCount >0 %}
                                            {{ results.getTotalItemCount }} Séance(s)
                                        {% else %}
                                            Aucune séance trouvée.
                                        {% endif %}
                                    {% endif %}
                                </small>
                            </h3>
                        </div>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <form class="filter" method="get"
                              action="{{ path(app.request.get('_route'),{"action":app.request.get('action')}) }}">
                            <div class="row">
                                {% if shows is defined and shows %}
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            {% set selected = app.request.query.get("show") %}
                                            <select class="form-control input-sm" name="show">
                                                <option disabled {% if selected is null %}selected{% endif %}>Affichage
                                                </option>
                                                {% for show in shows %}
                                                    <option value="{{ show }}"
                                                            {% if show == selected %}selected{% endif %}>{{ show }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if sorts is defined and sorts %}
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            {% set selected = app.request.get("order") %}
                                            <select class="form-control input-sm" name="order">
                                                <option disabled {% if selected is null %}selected{% endif %}>Trier par
                                                </option>
                                                {% for sort in sorts %}
                                                    <option value="{{ loop.index }}"
                                                            {% if loop.index == selected %}selected{% endif %}>{{ sort }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if viewings is defined and viewings %}
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            {% set selected = app.request.get("view") %}
                                            <select class="form-control input-sm" name="view">
                                                <option disabled {% if selected is null %}selected{% endif %}>Visionnage
                                                </option>
                                                {% for key, viewing in viewings %}
                                                    <option value="{{ key }}"
                                                            {% if key == selected %}selected{% endif %}>{{ viewing }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-sm"
                                               placeholder="Ville ou code postale"
                                               name="location"
                                                {% if app.request.query.get('location') %}
                                                    value="{{ app.request.query.get('location') }}"
                                                {% endif %}
                                               autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-default" type="submit"><i
                                                    class="fa fa-search"></i> Rechercher
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-sm-offset-1 text-right">
                                    {% if (app.request.query.get("show") or app.request.query.get("order")  or app.request.query.get("view")) and
                                    app.request.query.get("q") %}
                                        <a href="{{ path(  app.request.attributes.get('_route'), app.request.attributes.get('_route_params')| merge({'q': app.request.query.get("q")})) }}
                                    " class="btn btn-sm red">Réinitialiser le filtre</a>
                                    {% endif %}
                                </div>

                            </div>
                        </form>

                        {#{% if viewings is defined and viewings %}#}
                        {#<div class="col-sm-2">#}
                        {#<div class="form-group">#}
                        {#{% set selected = app.request.query.get("view") %}#}
                        {#<select class="form-control input-sm" onchange="location = this.value;">#}
                        {#<option disabled {% if selected is null %}selected{% endif %}>Visionnage#}
                        {#</option>#}
                        {#{% for key, viewing in viewings %}#}
                        {#<option value="{{ path(app.request.attributes.get('_route'),#}
                        {#app.request.attributes.get('_route_params')  |merge(app.request.query.all)|#}
                        {#merge({'view': key })) }}"#}
                        {#{% if key == selected %}selected{% endif %}>{{ viewing }}</option>#}
                        {#{% endfor %}#}
                        {#</select>#}
                        {#</div>#}
                        {#</div>#}
                        {#{% endif %}#}


                        <div class="col-sm-12">

                            {% if results is defined and results.getTotalItemCount > 0 %}

                            <div class="portfolio-content">
                                <div id="js-grid-juicy-projects" class="cbp">
                                    {% for result in results %}

                                        <div class="cbp-item">
                                            <article class="card">
                                                <header class="card__thumb">
                                                    <a href="{{ path("film_view", {"slug": result.seance.film.id}) }}">
                                                        {% if result.seance.film.poster is defined and result.seance.film.poster %}

                                                            <img src="{{ result.seance.film.poster }}"
                                                                 class=" pull-left margin-right"
                                                                 alt="{{ result.seance.film.title }}">
                                                        {% else %}
                                                            <img src="../../uploads/images/400x300.png"
                                                                 class=" pull-left margin-right"
                                                                 alt="{{ result.seance.film.title }}">
                                                        {% endif %}                                    </a>
                                                </header>

                                                <div class="session__price">
                                                        <span class="session__price_val">
                                                        {% if result.seance.price > 0 %}{{ result.seance.price }}€{% else %}Gratuit{% endif %}
                                                        </span>
                                                </div>
                                                <div class="card__body">
                                                    <div class="card__category">
                                                        <i class="fa fa-clock-o"></i>
                                                        {{ result.seance.date| date("d F") }} à
                                                        {{ result.seance.date| date("H") }}
                                                        h{{ result.seance.date| date("i") }}
                                                    </div>
                                                    <h5 class="card__title"><a href="#">
                                                            {{ result.seance.film.title |length > 26 ? result.seance.film.title|slice(0, 26) ~ '...' : result.seance.film.title }}

                                                        </a></h5>
                                                    <ul class="card__description list-unstyled">
                                                        <h6 class="sub_card_title">
                                                            <a href="{{ path("seances_view", {"slug": result.seance.film.id}) }}"
                                                               class="font-yellow-casablanca">
                                                                {{ result.seance.film.title | capitalize }}
                                                                - {{ result.seance.typeView }}
                                                            </a></h6>

                                                        {% if result.seance.creator is defined and result.seance.creator %}
                                                            <li>
                                                                <i class="fa fa-user"></i> {{ result.seance.creator.username | capitalize }}
                                                            </li>
                                                        {% endif %}

                                                        {% if result.seance.address.town is defined and result.seance.address.town %}
                                                            <li>
                                                                <i class="fa fa-location-arrow"></i> {{ result.seance.address.town }}
                                                                {% if result.seance.address.postCode is defined and result.seance.address.postCode %}
                                                                    ({{ result.seance.address.postCode }})
                                                                {% endif %}
                                                            </li>
                                                        {% endif %}

                                                        {% if result.seance.maxPlace is defined and result.seance.maxPlace %}
                                                            <li>
                                                                <i class="fa fa-user-plus"></i> {{ result.seance.maxPlace }}
                                                                Place(s)
                                                                restante(s)
                                                            </li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                                <footer class="card__footer ">
                                                    {#<span class="glyphicon glyphicon-time"></span> 6 min#}

                                                    <span class="fa fa-users"></span>
                                                    <small>{{ result.participants }}</small>
                                                    &nbsp;
                                                    <span class="fa fa-comments"></span>
                                                    <small>{{ random(50) }}</small>
                                                        <span class="pull-right"><a
                                                                    href="{{ path("seances_view", {"slug": result.seance.film.id}) }}"
                                                                    class="text-info">&nbsp;Suite&raquo;
                                                            </a></span>
                                                    {#<span class="pull-right"><a 
                                                                href="{{ path("film_view", {"slug": result.seance.film.id}) }}"
                                                                class="text-info"><i class="fa fa-user-plus"></i></a>&nbsp;</span> #}
                                                </footer>
                                            </article>

                                        </div>

                                    {% endfor %}
                                </div>
                                <div id="js-grid-juicy-projects" class="cbp">
                                    <div class="cbp-item">
                                        {% if results %}
                                            {{ knp_pagination_render(results) }}
                                        {% endif %}

                                    </div>
                                </div>


                            </div>
                        </div>
                    {% else %}
                        <div class="note note-info">
                            <h4 class="block text-center text-uppercase margin-top-20"> Aucune séance trouvée
                                :-)</h4>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        'bundles/mc/themes/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js'
        'bundles/mc/themes/pages/scripts/portfolio-1.js' %}
        {#  #}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
