{% trans_default_domain 'FOSUserBundle' %}
<div class="row col-sm-offset-1">
    <div class="col-sm-5">
        <h2>Récupération du mot de passe ?</h2>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
        {#{{ form_widget(form) }}#}
        <div class="form-group">
            <div class="col-sm-10">
                {{ form_label(form.current_password, 'form.current_password' |trans  , {'label_attr': {'class':'control-label'}}) }}

            </div>
            <div class="col-sm-12">
                {{ form_widget(form.current_password,{ 'attr': {'class': "form-control",'placeholder': 'form.current_password'|trans , 'autocomplete':'off'  } }) }}
            </div>

            <div class="col-sm-10">
                {{ form_label(form.plainPassword.first, 'form.password' |trans  , {'label_attr': {'class':'control-label'}}) }}

            </div>
            <div class="col-sm-12">
                {{ form_widget(form.plainPassword.first,{ 'attr': {'class': "form-control",'placeholder': 'form.password'|trans , 'autocomplete':'off'  } }) }}
            </div>

            <div class="col-sm-10">
                {{ form_label(form.plainPassword.second, 'form.password_confirmation' |trans  , {'label_attr': {'class':'control-label'}}) }}
            </div>
            <div class="col-sm-12">
                {{ form_widget(form.plainPassword.second,{ 'attr': {'class': "form-control",'placeholder': 'form.password_confirmation'|trans , 'autocomplete':'off'} }) }}
            </div>


        </div>


        <div class="form-group">
            <div class="col-sm-10">
                <input type="submit" id="_submit" name="_submit" class="btn btn-success"
                       value="{{ 'change_password.submit'|trans }}"/>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
</div>
