{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="page-content">
        <div class="page-bar">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="{{ path('home_page') }}">Accueil</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li><span>Connexion</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            {#<div class="col-sm-2">#}
            {#{% include("MCBundle:Includes:submenu.html.twig") %}#}
            {#</div>#}

            <div class="col-sm-12">
                <h2 class="page-title page-header">Connexion</h2>
            </div>
            <div class="col-sm-6">

                <div class="portlet light bordered" style="min-height: 370px;">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-login font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase"> Connexion</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">

                            <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                                <div class="form-body">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {% if error %}
                                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                                </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-sm-12">
                                            <label for="username"
                                                   class="control-label">{{ 'security.login.username'|trans }}</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" id="username" name="_username"
                                                   value="{{ last_username }}" class="form-control" required="required"
                                                   placeholder="{{ 'security.login.username'|trans }}"/>
                                        </div>

                                        <div class="col-sm-12">
                                            <label for="password"
                                                   class="control-label">{{ 'security.login.password'|trans }}</label>

                                        </div>
                                        <div class="col-sm-12">

                                            <input type="password" class="form-control" id="password" name="_password"
                                                   required="required"
                                                   placeholder="{{ 'security.login.password'|trans }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <div class="">
                                                <label for="remember_me">
                                                    <input type="checkbox" id="remember_me"
                                                           name="_remember_me" {#class="form-control"#}
                                                           value="on"/> {{ 'security.login.remember_me'|trans }}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 text-right">
                                            <p><a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu
                                                    ?</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="submit" id="_submit" name="_submit" class="btn btn-default"
                                                   value="{{ 'security.login.submit'|trans }}"/>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="portlet light bordered" style="min-height: 370px;">
                    {#<div class="portlet-title">#}
                    {#<div class="caption font-red-sunglo">#}
                    {#<i class="icon-plus font-red-sunglo"></i>#}
                    {#<span class="caption-subject bold uppercase"> Inscription</span>#}
                    {#</div>#}
                    {#</div>#}
                    <div class="portlet-body text-center">
                        <div class="card-icon">
                            <i class="icon-user-follow font-yellow-casablanca  theme-font"></i>
                        </div>

                        <h3 class="font-grey-silver">Pas encore inscrit ?</h3>

                        <p class="lead font-grey-silver"> Nous vous invitons à vous inscrire afin de pouvoir créer et participer
                            aux
                            séances. </p>

                        <div class="col-sm-4 col-sm-offset-4">
                            <a href="{{ path ('fos_user_registration_register') }}"
                               class="btn  yellow-casablanca btn-block"><i class="fa fa-user-plus"></i> Inscription</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{% endblock fos_user_content %}
