{% extends "MCBundle::main.html.twig" %}

{% block title %}
    Films - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets

    'bundles/mc/themes/global/plugins/cubeportfolio/css/cubeportfolio.css'
    'bundles/mc/themes/global/css/components.min.css'
    'bundles/mc/themes/pages/css/portfolio.min.css'
    'bundles/mc/css/card.css'
    filter='cssrewrite' %}
    {#
   
    
    '#}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block body_mc %}


    <div class="page-container page-mc">
        <div class="page-content">
            <div class="page-bar">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="{{ path('home_page') }}">Accueil</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="{{ path('film_home') }}">Films</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            {% if breadcrumb is defined %}
                                <li>
                                    <span>{{ breadcrumb }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                {#<div class="col-sm-2">#}
                    {#{% include("MCBundle:Includes:submenu.html.twig") %}#}
                {#</div>#}
                <div class="col-sm-12">

                    {% block fos_user_content %}
                    {% endblock fos_user_content %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}
 