{% extends "MCBundle::main.html.twig" %}

{% block title %}
    Films - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/mc/themes/pages/css/search.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block body_mc %}
    <div class="page-container page-mc">
        <div class="page-content">
            <div class="page-bar">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="{{ path('home_page') }}">Accueil</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">Profil</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Participation(s)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <div class="row">

                <div class="col-sm-2">
                    {% include("MCBundle:Includes:submenu.seance.html.twig") %}
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title page-header">
                                Profile
                                <small> Participation(s)</small>
                            </h3>
                        </div>
                        {% if participates is defined %}
                            <div class="col-sm-12">
                                <div class="search-page search-content-1">

                                    <div class="search-container ">
                                        <ul>
                                            {% for participate in participates %}

                                                <li class="search-item clearfix">
                                                    <a href="{{ path('seances_view',{'slug':  participate.seance.id}) }}">
                                                        <img src="{{ participate.seance.film.poster }}"/>
                                                    </a>

                                                    <div class="search-content" style="margin-top: -12px; ">
                                                        <h4 class="search-title">
                                                            <a href="{{ path('seances_view',{'slug':  participate.seance.id}) }}">
                                                                {{ participate.seance.film.title }}
                                                                - {{ participate.seance.typeView }}</a>
                                                        </h4>
                                                        {#<p class="search-desc"> </p>#}
                                                        <ul class=" list-unstyled search-desc"
                                                            style="margin-top: -17px; margin-bottom: 5px;">

                                                            <li><b>Prix: </b> {{ participate.seance.price }}€</li>
                                                            <li>
                                                                <b>Date: </b> {{ participate.seance.date | date('d F Y') }}
                                                                à {{ participate.seance.date| date('h') }}
                                                                h{{ participate.seance.date| date('i') }}</li>
                                                            <li><b>Place(s)
                                                                    restante(s): </b> {{ participate.seance.maxPlace }}
                                                            </li>
                                                        </ul>
                                                        <p class="search-desc margin-bottom-10">
                                                            {#<i class="fa fa-user fa-fw"></i> #}{{ participate.seance.creator | capitalize }}
                                                            <i class="fa fa-location-arrow fa-fw"></i>{{ participate.seance.address.street }} {{ participate.seance.address.address }} {{ participate.seance.address.town | capitalize }}
                                                            ({{ participate.seance.address.postCode }})
                                                            <i class="fa fa-users"></i> {{ participate.seance.maxPlace }}
                                                        </p>
                                                        <a href="" class="btn btn-xs green-jungle"><i
                                                                    class="fa fa-envelope fa-fw"></i>Message</a>
                                                        <a href="" class="btn btn-xs yellow-casablanca"><i
                                                                    class="fa fa-shopping-cart fa-fw"></i>Payer</a>
                                                        <a href="" class="btn btn-xs red"><i
                                                                    class="fa fa-trash fa-fw"></i>Rétracter</a>

                                                    </div>

                                                </li>

                                            {% endfor %}
                                        </ul>

                                        <div class="cbp-item">
                                            {% if participates %}
                                                {{ knp_pagination_render(participates) }}
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

   {% block javascripts %}
       {{ parent() }}
       {% javascripts
       'bundles/mc/js/applications.js' %}
       {#  #}
       <script src="{{ asset_url }}"></script>
       {% endjavascripts %}

   {% endblock %}
